// ============================================================================
// 文章列表页
// ============================================================================

// ====================================
// 日期式文章列表（如首页）
// ====================================

#body > .hui-main {
    .day {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;

        // 天标题
        .dayTitle {
            padding-left: 15px - 5px;
            border-left: 5px solid #8e1a10;
            margin: 0 0 0 -15px;
            line-height: 1.2;
            text-indent: 0;
        }

        // 文章标题
        .postTitle {
            border: none;
            margin: 10px 0 10px -15px;
            @include text-ellipsis;
        }

        // 文章内容
        .postCon {
            margin: 10px 0;
            text-align: justify;

            .x-read-more {
                margin-top: 5px;

                a {
                    padding: 0;
                    color: #8e1a10;

                    &::after {
                        content: " »";
                    }
                }
            }
        }

        // 文章描述信息
        .postDesc {
            width: unset;
            padding: 0;
            margin: 10px 0;

            .x-publish-time {
                float: left;
            }
        }
    }
}

// ====================================
// 我的随笔
// ====================================

#body .PostListTitle {
    padding: 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 2;
    text-align: left;
}

#myposts {
    margin: 15px 0;

    .PostList {
        padding: 0;
        border: none;
        margin: 0 0 15px;

        .postTitl2 {
            float: unset;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
        }

        .postDesc2 {
            float: unset;
            text-align: right;

            .x-publish-time {
                float: left;
            }

            .post-view-count,
            .post-comment-count,
            .post-digg-count {
                margin-left: 5px;
            }

            a {
                color: #8e1a10;
                margin-left: 5px;
            }
        }
    }
}

// ====================================
// 我的标签
// ====================================

#taglist_main {
    margin: 0;
}

#taglist_title {
    padding: 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    text-align: left;

    small {
        font-size: 14px;
    }
}

#taglist {
    tr {
        display: inline-flex;
        flex-wrap: wrap;
    }

    td {
        width: 150px;
        padding: 5px 0;
    }
}
