// ============================================================================
// 文章列表页
// ============================================================================

// ====================================
// 日期式文章列表（如首页）
// ====================================

#body > .hui-main {
    .day {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;

        // 天标题
        .dayTitle {
            padding-left: 15px - 5px;
            border-left: 5px solid #8e1a10;
            margin: 0 0 0 -15px;
            line-height: 1.2;
            text-indent: 0;
        }

        // 文章标题
        .postTitle {
            border: none;
            margin: 10px 0 10px -15px;
            @include text-ellipsis;
        }

        // 文章内容
        .postCon {
            margin: 10px 0;
            text-align: justify;
        }

        // 文章描述信息
        .postDesc {
            width: unset;
            padding: 0;
            margin: 10px 0;

            .x-post-time {
                float: left;
            }
        }
    }
}
