// ============================================================================
// mixin
// ============================================================================

// 单行文本，超出部分显示省略号
@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
