// ============================================================================
// 侧边栏
// ============================================================================

#sideBarMain {
    padding: 15px;
}

// 博主信息
#x-owner {
    border-bottom: 1px solid #ddd;
    margin: 0 0 15px;

    .x-info {
        display: flex;

        .x-avatar {
            display: block;
            margin-right: 15px;

            img {
                width: 80px;
                height: 80px;
                border: 5px solid #fafafa;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            }
        }

        .x-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .x-name {
                margin-top: 5px;
                font-size: 16px;
                font-weight: bold;
            }

            .x-follow {
                margin-bottom: 5px;

                .x-button {
                    display: inline-block;
                    padding: 3px 8px;
                    border-radius: 1px;
                    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
                    color: #fff;
                    font-size: 12px;
                    text-decoration: none;

                    &.x-add {
                        background-color: #e33100;
                    }

                    &.x-cancel {
                        background-color: #ccc;
                    }
                }
            }
        }
    }

    .x-stats {
        display: flex;
        margin: 15px 0;
        text-align: center;

        li {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            &:not(:last-of-type) {
                border-right: 1px solid #999;
            }

            .x-name {
                margin-bottom: 5px;
                font-size: 12px;
                font-weight: bold;
            }

            .x-value {
                font-size: 20px;
            }
        }
    }
}

// 新闻与博主信息

#sidebar_news {
    padding: 0;
    margin: 0;

    .newsItem {
        padding: 0;
        margin: 0;
    }
}

#profile_block {
    display: none;
    margin: 0;
}

// 日历

#calendar {
    margin: 15px 0;
}

// 常用链接
body.x-mode-visitor {
    a[href*="MyComments.html"],
    a[href*="OtherPosts.html"],
    #itemListLink {
        display: none;
    }
}

// 更多栏目

#leftcontentcontainer {
}
