// ============================================================================
// 变量定义
// ============================================================================

// 无衬线字体
$font-sans-serif: "微软雅黑", "Microsoft YaHei UI", "思源黑体", "Noto Sans CJK SC", sans-serif;
// 衬线字体
$font-serif: "思源宋体", "Noto Serif CJK SC", "宋体", sans-serif;

// 侧边栏背景颜色
$sidebar-background-color: #faf7e8;

// 基本间隙大小
$gap: 10px;
